@media screen and (min-width: 670px) {
    header h1{
        font-size: 48px;
    }

    main {
        position: relative;
    }

    .hero img {
        border-bottom: none;
    }

    .left {
        position: absolute;
        top: 10px;
        width: 350px;
        margin: 20px;
        background-color: rgb(211, 211, 211, 0.8);
    }

    .info h2 {
        position: relative;
        margin: 0 30px 20px 0;
        text-align: left;
        left: -30px;
        background-color: rgb(200, 0, 0);
        color: white;
    }

    .right {
        position: absolute;
        bottom: 10px;
        right: 1px;
        width: 250px;
        margin: 20px;
        background-color: rgb(211, 211, 211, 0.8);
    }

    .info img {
        display: none;
    }

    .right h2::after {
        content: "⛅";
        padding: 0.2rem;
    }
}